@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main" v-cloak>
    <div class="main-top" v-html="navMenu.html"></div>
    <div class="main-search">
        <form id="searchForm" method="post" asp-antiforgery="false">
            <div class="search-condition">
                <ul>
                    <li>
                        <el-input size="small" prefix-icon="el-icon-search" class="input-xlarge" v-model="searchParams.sparepartKey" :placeholder="languagePack.common_search_key" clearable></el-input>
                    </li>
                    <li>
                        <el-select size="small" v-model="searchParams.groupId" :placeholder="languagePack.sparepartquery_index_search_group" filterable remote :loading="custom.searchGroupLoading" :remote-method="searchGroup" clearable>
                            <el-option v-for="item in custom.groupOptions"
                                       :key="item.groupid"
                                       :label="item.desc"
                                       :value="item.groupid">
                            </el-option>
                        </el-select>
                    </li>
                    <li>
                        <el-select size="small" clearable :placeholder="languagePack.sparepartquery_index_search_status" v-model="searchParams.status">
                            <el-option v-for="item in custom.statusOptions"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </li>
                    <li>
                        <el-button size="mini" type="primary" :loading="searchBar.searchBtn.loading" v-on:click="search">{{languagePack.common_search}}<i class="el-icon-search el-icon--right"></i></el-button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <div class="main-list">
        <div class="main-list-toolbar">
            <a href="javascript:void(0)" v-if="toolbar.operate.edit" v-on:click="edit"><i class="el-icon-edit text-warning"></i>{{languagePack.common_edit}}</a>
            <span class="toolbar-separator"></span>
            <a href="javascript:void(0)" v-on:click="refresh"><i class="el-icon-refresh text-info"></i>{{languagePack.common_refresh}}</a>
        </div>
        <div class="main-list-grid">
            <el-table :data="grid.data"
                      :height="grid.height"
                      ref="mainGrid"
                      v-loading="grid.loading"
                      stripe
                      size="small"
                      style="width:100%"
                      v-on:row-click="clickRow">
                <el-table-column type="selection" prop="ck" width="50"></el-table-column>
                <el-table-column prop="s1" :label="languagePack.sparepartquery_index_sparepart_id">
                    <template slot-scope="scope">
                        <span v-html="scope.row.s1"></span>
                    </template>
                </el-table-column>
                <el-table-column prop="s2" :label="languagePack.sparepartquery_index_sparepart_name"></el-table-column>
                <el-table-column prop="s3" :label="languagePack.sparepartquery_index_imageurl">
                    <template slot-scope="scope">
                        <span v-html="scope.row.s3"></span>
                    </template>
                </el-table-column>
                <el-table-column prop="s4" :label="languagePack.sparepartquery_index_group"></el-table-column>
                <el-table-column prop="s5" :label="languagePack.sparepartquery_index_price"></el-table-column>
                <el-table-column prop="s6" :label="languagePack.sparepartquery_index_unit"></el-table-column>
                <el-table-column prop="s7" :label="languagePack.sparepartquery_index_stock"></el-table-column>
                <el-table-column prop="s8" :label="languagePack.sparepartquery_index_stock_date"></el-table-column>
                <el-table-column prop="s9" :label="languagePack.sparepartquery_index_status"></el-table-column>
            </el-table>
        </div>
        <div class="main-list-pagination">
            <el-pagination v-on:size-change="pageSizeChange"
                           v-on:current-change="pageCurrentChange"
                           :current-page="pagination.currentPage"
                           :page-sizes="pagination.pageList"
                           :page-size="pagination.pageSize"
                           layout="sizes, prev, pager, next, jumper,total"
                           :total="pagination.totalCount">
            </el-pagination>
        </div>
    </div>
    <partial name="~/Views/Shared/_ElDailog.cshtml">
</div>
@section scripts {
    <script type="text/javascript">
        var appVue = new Vue({
            el: '.main',
            mixins:[elementExtend.Grid.MixinVue()],
            data: {
                languagePack: JSON.parse(window.parent.frames.appFrame.languagePackCache),
                toolbar: {
                    operate: {
                        edit: false
                    }
                },
                grid: {
                    url:'@Url.Action("Index_Message", "SparePartQuery")'
                },
                searchParams: {
                    sparepartKey: '',
                    groupId:'',
                    status: ''
                },
                custom: {
                    groupOptions: [],
                    searchGroupLoading:false,
                    statusOptions:[]
                }
            },
            created: function () {
                this.initData();
            },
            mounted: function(){
            },
            methods: {
                initData() {
                    let $vue = this;
                    elementExtend.Base.ParseData({
                        url: '@Url.Action("Initialize_Info", "SparePartQuery")',
                        params: {
                            type:'index'
                        },
                        success: function (data) {
                            //导航栏
                            $vue.navMenu.html = data.navMenu;
                            //工具栏
                            $vue.permission.permissionTools = data.userAuthorization;
                            elementExtend.Grid.Toolbar({
                                vue: $vue
                            });
                            //默认分组
                            $vue.searchGroup();
                            //数据集合
                            $vue.custom.statusOptions = data.statusList;
                            //查询信息
                            $vue.getGridList();
                        }
                    });
                },
                searchGroup: function (query) {
                    let $vue = this;
                    if (query == undefined)
                        query = '';
                    vueExtend.Ajax.Post({
                        url: '@Url.Action("SearchSparePartGroup_Message", "Common")',
                        params: {
                            keyword: query
                        },
                        beforeSend: function () {
                            $vue.custom.searchGroupLoading = true;
                        },
                        success: function (data) {
                            $vue.custom.searchGroupLoading = false;
                            //数据集合
                            $vue.custom.groupOptions = data.rows;
                        }
                    });
                },
                search: function () {
                    elementExtend.Grid.Search({
                        vue: this
                    });
                },
                edit: function() {
                    elementExtend.Grid.EditDialog({
                        vue: this,
                        url: '@Url.Action("Edit", "SparePartQuery")?id=$',
                        title: this.languagePack.common_edit,
                        width: '99%',
                        saveUrl: '@Url.Action("Edit_Message", "SparePartQuery")'
                    });
                },
                refresh: function() {
                    this.getGridList();
                },
                sparepartDetail: function (id) {
                    elementExtend.Grid.OpenDialog({
                        vue: this,
                        url: '@Url.Action("Detail", "SparePartQuery")?id=' + id,
                        title: this.languagePack.common_detail
                    });
                },
                previewImage: function (src) {
                    elementExtend.previewImage(this, src);
                }
            }
        });
    </script>
}

