@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main" v-cloak>
    <div class="main-top" v-html="navMenu.html"></div>
    <div class="main-search">
        <form id="searchForm" method="post" asp-antiforgery="false">
            <div class="search-condition">
                <ul>
                    <li>
                        <el-input size="small" prefix-icon="el-icon-search" class="input-xlarge" v-model="searchParams.keyword" :placeholder="languagePack.common_search_key" clearable></el-input>
                    </li>
                    <li>
                        <el-select size="small" clearable :placeholder="languagePack.sparepartgroup_index_search_type" v-model="searchParams.groupType">
                            <el-option v-for="item in custom.groupTypeOptions"
                                       :key="item.value"
                                       :label="item.label"
                                       :value="item.value">
                            </el-option>
                        </el-select>
                    </li>
                    <li>
                        <el-button size="mini" type="primary" :loading="searchBar.searchBtn.loading" v-on:click="search">{{languagePack.common_search}}<i class="el-icon-search el-icon--right"></i></el-button>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <div class="main-list">
        <div class="main-list-toolbar">
            <a href="javascript:void(0)" v-if="toolbar.operate.add" v-on:click="add"><i class="el-icon-plus text-success"></i>{{languagePack.common_add}}</a>
            <a href="javascript:void(0)" v-if="toolbar.operate.edit" v-on:click="edit"><i class="el-icon-edit text-warning"></i>{{languagePack.common_edit}}</a>
            <span class="toolbar-separator"></span>
            <a href="javascript:void(0)" v-on:click="refresh"><i class="el-icon-refresh text-info"></i>{{languagePack.common_refresh}}</a>
        </div>
        <div class="main-list-grid">
            <el-table :data="grid.data"
                      :height="grid.height"
                      ref="mainGrid"
                      v-loading="grid.loading"
                      stripe
                      size="small"
                      style="width:100%"
                      v-on:row-click="clickRow">
                <el-table-column type="selection" prop="ck" width="50"></el-table-column>
                <el-table-column prop="s1" :label="languagePack.sparepartgroup_index_group_id"></el-table-column>
                <el-table-column prop="s2" :label="languagePack.sparepartgroup_index_description"></el-table-column>
                <el-table-column prop="s3" :label="languagePack.sparepartgroup_index_type">
                    <template slot-scope="scope">
                        <span v-html="scope.row.s3"></span>
                    </template>
                </el-table-column>
                <el-table-column prop="s4" :label="languagePack.sparepartgroup_index_text"></el-table-column>
            </el-table>
        </div>
        <div class="main-list-pagination">
            <el-pagination v-on:size-change="pageSizeChange"
                           v-on:current-change="pageCurrentChange"
                           :current-page="pagination.currentPage"
                           :page-sizes="pagination.pageList"
                           :page-size="pagination.pageSize"
                           layout="sizes, prev, pager, next, jumper,total"
                           :total="pagination.totalCount">
            </el-pagination>
        </div>
    </div>
    <partial name="~/Views/Shared/_ElDailog.cshtml">
</div>
@section scripts {
    <script type="text/javascript">
        var appVue = new Vue({
            el: '.main',
            mixins:[elementExtend.Grid.MixinVue()],
            data: {
                languagePack: JSON.parse(window.parent.frames.appFrame.languagePackCache),
                toolbar: {
                    operate: {
                        add:false,
                        edit: false
                    }
                },
                grid: {
                    url:'@Url.Action("Index_Message", "SparePartGroup")'
                },
                searchParams: {
                    keyword: '',
                    groupType:''
                },
                custom: {
                    groupTypeOptions: [],
                }
            },
            created: function () {
                this.initData();
            },
            mounted: function(){
            },
            methods: {
                initData() {
                    let $vue = this;
                    elementExtend.Base.ParseData({
                        url: '@Url.Action("Initialize_Info", "SparePartGroup")',
                        params: {
                            type:'index'
                        },
                        success: function (data) {
                            //导航栏
                            $vue.navMenu.html = data.navMenu;
                            //工具栏
                            $vue.permission.permissionTools = data.userAuthorization;
                            elementExtend.Grid.Toolbar({
                                vue: $vue
                            });
                            $vue.custom.groupTypeOptions = data.groupTypeList;
                            //查询信息
                            $vue.getGridList();
                        }
                    });
                },
                search: function () {
                    elementExtend.Grid.Search({
                        vue: this
                    });
                },
                add: function () {
                    elementExtend.Grid.SaveDialog({
                        vue: this,
                        url: '@Url.Action("Add", "SparePartGroup")',
                        title: this.languagePack.common_add,
                        width: '99%',
                        saveUrl: '@Url.Action("Add_Message", "SparePartGroup")'
                    });
                },
                edit: function() {
                    elementExtend.Grid.EditDialog({
                        vue: this,
                        url: '@Url.Action("Edit", "SparePartGroup")?id=$',
                        title: this.languagePack.common_edit,
                        width: '99%',
                        saveUrl: '@Url.Action("Edit_Message", "SparePartGroup")'
                    });
                },
                refresh: function() {
                    this.getGridList();
                }
            }
        });
    </script>
}

